aiohttp==3.8.5
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair==5.0.1
appdirs==1.4.4
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.10
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
cachetools==5.3.1
catalogue==2.0.9
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
cymem==2.0.7
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1648489389285/work
docx2txt==0.8
filelock==3.12.2
fonttools==4.42.1
frozendict==2.3.8
frozenlist @ file:///C:/ci_311/frozenlist_1676428131576/work
fsspec==2023.6.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.32
googletrans==4.0.0rc1
greenlet @ file:///C:/ci_311/greenlet_1676436788118/work
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.16.4
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.8.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1692460116519/work
langcodes==3.3.0
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1692472357087/work
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1689924608696/work
marshmallow-enum @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-enum_1602427317752/work
matplotlib==3.7.2
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
multidict @ file:///C:/ci_311/multidict_1676428396308/work
multitasking==0.0.11
murmurhash==1.0.9
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nltk==3.8.1
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy @ file:///C:/b/abs_f6napi3n6e/croot/numpy_and_numpy_base_1691091651337/work
openai==0.27.8
openapi-schema-pydantic @ file:///home/conda/feedstock_root/build_artifacts/openapi-schema-pydantic_1681130872959/work
opencv-python==4.8.0.76
package-name==0.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pafy==0.5.5
pandas==2.0.3
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==9.5.0
plotly==5.16.1
preshed==3.0.8
protobuf==4.24.1
pyarrow==12.0.1
pycparser==2.21
pydantic @ file:///C:/b/abs_4bum6ajkso/croot/pydantic_1686125732638/work
pydeck==0.8.0
Pygments==2.16.1
Pympler==1.0.1
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.19.0
pyperclip==1.8.2
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML @ file:///C:/ci_311/pyyaml_1676432488822/work
referencing==0.30.2
regex==2023.8.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3986==1.5.0
rich==13.5.2
rpds-py==0.9.2
safetensors==0.3.2
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy @ file:///C:/ci_311/sqlalchemy_1676446707912/work
srsly==2.4.7
streamlit==1.25.0
stringcase==1.2.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
threadpoolctl==3.2.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
transformers==4.32.0
typer==0.9.0
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata==2023.3
tzlocal==4.3.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
validators==0.21.2
wasabi==1.1.2
watchdog==3.0.0
webencodings==0.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
yarl @ file:///C:/ci_311/yarl_1676432870023/work
yfinance==0.2.28
zipp==3.16.2
